*{
  margin: 0px;
  padding: 0px;
}
.h{
  width: 100%;
}
.logo{
  height: 48px;
  margin: 2px 10px;
}
.footercard1,.footercard2,.footercard3,.footercard4{
  background-color:  rgb(33, 83, 139);;
  color: aliceblue;
  border: 0px;
}
.logo1{
  width: 25px;
  height: 25px;
  margin: 10px;
}
.footerlist {
  list-style: none;
}
.footerlist a{
  color: aliceblue;
}

.slider{
  height:         400px;
  min-height:     400px;
  line-height:    400px;
}
.img{
  height:         400px;
  min-height:     400px;
  line-height:    400px;
}